<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="fragments/header :: header">
</head>


<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="container text-center">
    <h3 style="margin:5%" class="display-4">회원정보</h3>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Email: <span th:text="${member.email}" class="form-control-plaintext"></span></label>
            </div>
            <div class="mb-3">
                <label class="form-label">Username: <span th:text="${member.username}" class="form-control-plaintext"></span></label>
            </div>
            <div class="mb-3">
                <label class="form-label">Phone Number: <span th:text="${member.phoneNumber}" class="form-control-plaintext"></span></label>
            </div>
            <div class="mb-3">
                <label class="form-label">Address: <span th:text="${member.address.city + ', ' + member.address?.street + ', ' + member.address?.zipcode}" class="form-control-plaintext"></span></label>
            </div>
            <div class="mb-3">
                <label class="form-label">Grade: <span th:text="${member.grade}" class="form-control-plaintext"></span></label>
            </div>
            <div class="mb-3">
                <label class="form-label">Created At: <span th:text="${(#temporals.format(member.createdAt, 'yyyy-MM-dd HH:mm'))}" class="form-control-plaintext"></span></label>
            </div>
        </div>
    </div>
    <!-- 버튼 -->
    <div class="row justify-content-center">
        <div class="mb-3">
            <a href="/main" class="btn btn-secondary">메인으로 돌아가기</a>
        </div>
        <div class="mb-3">
            <a href="/memberUpdate" class="btn btn-primary">회원 정보 수정</a>
        </div>
        <div class="mb-3">
            <button onclick="confirmDelete()" class="btn btn-danger">회원 탈퇴</button>
        </div>
    </div>
</div>
<script>
    function confirmDelete() {
        if (confirm("회원을 탈퇴하시겠습니까?")) {
            window.location.href = "/confirmDelete";
        }
    }
</script>
</body>
</html>