
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.categories {
    display: flex;
}

.category {
    margin-right: 10px;
}

.login {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}

.logout {
    text-decoration: none;
    color: #000;
}

.pagination .page-item.active .page-link {
    background-color: #b6d4fe;
    color: #fff;
    font-weight: bold;
}

.card:hover {
    box-shadow: 3px 3px 3px 3px rgba(32, 201, 151, 0.3);
}
