<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Log In</title>
<head th:replace="fragments/header :: header">
</head>

<body>

<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div text- class="container row"
     style="text-align: center; align-items: center; height: 80vh;">
    <p class="fs-1" style="margin-bottom: -15%; font-family: '돋움'; color: green; ">로그인</p>
    <form action="/login" method="post">
        <div class="form-group col-lg-4" style="margin: 0 auto; font-family: 'Arial'; color: green;">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group col-lg-4" style="margin: 0 auto; font-family: 'Arial'; color: green;">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Login</button> &nbsp;&nbsp;&nbsp;
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=b071731ede6c6ca51d075ca069c77cbf&redirect_uri=http://localhost:8080/kakao/login&response_type=code">
            <img src="/images/kakao.png">
        </a>
    </form>
</div>
<br>

</body>
</html>